@model List<OntologyDTO>

@{
    ViewData["Title"] = Lang("_Tourism");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero">
    <div class="hero-slide">
        <div class="img overlay" style="background-image: url('@string.Concat(settings.Value.BaseUrl, "images/Home/tourism.jpg")')"></div>
    </div>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center" style="margin-top:7.5rem;">
                <h1 class="heading" data-aos="fade-up">
                    @Lang("_Discover")
                </h1>
                <form asp-controller="Destinations" asp-action="CityDetail" class="narrow-w form-search mb-1 typeahead__list" data-aos="fade-up" data-aos-delay="200">
                    <div class="typeahead__container">
                        <input type="text" class="js-typeahead-items form-control" placeholder="@Lang("_SearchPlaceholder")..." name="Items[query]" disabled>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row mb-1 align-items-center destination">
            <div class="col-lg-6" style="z-index:9999">
                <h2 class="font-weight-bold text-primary heading" style="color:#fff !important">
                    @Lang("_Destinations")
                </h2>
            </div>
            <div class="col-lg-6 text-lg-end">
                <p>
                    <a asp-controller="Destinations" asp-action="Index" class="btn btn-primary text-white py-3 px-4">@Lang("_ViewAllDestinations")</a>
                </p>
            </div>
        </div>

        @if (Model != null && Model.Any())
        {
            <div class="row">
                <div class="col-12">
                    <div class="property-slider-wrap">
                        <div class="property-slider">
                            @foreach (var item in Model)
                            {
                                var element = item.Class.Replace(settings.Value.OntologyPrefix, "");
                                var elementName = element.ToLower();
                                <div class="property-item">
                                    <a asp-controller="Destinations" asp-action="Detail" asp-route-destination="@element" class="img" property="v:url">
                                        <img src="@string.Concat(settings.Value.BaseUrl, $"images/Home/{elementName}.jpg")" alt="Image" class="img-fluid" />
                                    </a>
                                    <div class="property-content">
                                        <div class="row destination">
                                            <div class="col-md-9 col-sm-12">
                                                <div class="price">
                                                    <span class="price" property="v:destination">@Lang(string.Concat("_", element))</span>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-12">
                                                <a asp-controller="Destinations" asp-action="Detail" asp-route-destination="@element" class="float-right fw-bold text-decoration-underline" style="font-size:1rem; padding-bottom: 4px; display: inline-block;" property="v:url">@Lang("_SeeDetails")</a>
                                            </div>
                                        </div>
                                        <div>
                                            <span class="d-block mb-2 text-black-50" property="v:comment">@Html.Raw(item.Comment)</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                        <div id="property-nav" class="controls" tabindex="0" aria-label="Carousel Navigation">
                            <span class="prev" data-controls="prev" aria-controls="property" tabindex="-1">@Lang("_Prev")</span>
                            <span class="next" data-controls="next" aria-controls="property" tabindex="-1">@Lang("_Next")</span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{
    <script>
        (function () {
            TourismApp.Data.Url = '@Url.Action("BaseChildren", "Home")';
            setSearchItems();
        })();
    </script>
}