@{
    ViewData["Title"] = Lang("_Tourism");
    Layout = "~/Views/Shared/_Layout.cshtml";

    var toHeader = new TopHeaderDTO()
    {
        AdditionalText = Lang("_Ontology"),
        Image = "images/Home/Top/ontology.jpg",
        BreadCrumb = new List<BreadCrumbDTO>()
        {
            new BreadCrumbDTO()
            {
                Action = Url.Action("Index", "Home"),
                Text = Lang("_Home"),
                Order = 1
            },
            new BreadCrumbDTO()
            {
                Action = string.Empty,
                Text = @Lang("_Ontology"),
                Order = 2
            }
        }
    };
}

@await Html.PartialAsync("~/Views/Shared/Partials/_TopHeader.cshtml", toHeader);

<div class="section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-sm-12">
                <h2 class="heading text-primary">@Lang("_OntologyGeneralVision")</h2>
            </div>
            <div class="col-sm-6">
                <div class="d-block agent-box p-2 mt-2">
                    <div class="text">
                        <h3>@Lang("_GeneralClasses")</h3>
                    </div>
                    <img src="@string.Concat(settings.Value.BaseUrl, "images/Ontology/vision-general.jpg")" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-block agent-box p-2 mt-2">
                    <div class="text">
                        <h3>@Lang("_Destinations")</h3>
                    </div>
                    <img src="@string.Concat(settings.Value.BaseUrl, "images/Ontology/destinations-1.jpg")" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="d-block agent-box p-2 mt-2">
                    <div class="text">
                        <h3>@Lang("_Accommodations")</h3>
                    </div>
                    <img src="@string.Concat(settings.Value.BaseUrl, "images/Ontology/accommodations-2.jpg")" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-block agent-box p-2 mt-2">
                    <div class="text">
                        <h3>@Lang("_Rooms")</h3>
                    </div>
                    <img src="@string.Concat(settings.Value.BaseUrl, "images/Ontology/rooms-3.jpg")" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="d-block agent-box p-2 mt-2">
                            <div class="text">
                                <h3>@Lang("_Facilities")</h3>
                            </div>
                            <img src="@string.Concat(settings.Value.BaseUrl, "images/Ontology/facilidades-4.jpg")" class="img-fluid">
                        </div>
                    </div>
                    <div class=col-sm-12>
                        <div class="d-block agent-box p-2 mt-2">
                            <div class="text">
                                <h3>@Lang("_Activities")</h3>
                            </div>
                            <img src="@string.Concat(settings.Value.BaseUrl, "images/Ontology/actividades-5.jpg")" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="d-block agent-box p-2 mt-2">
                    <div class="text">
                        <h3>@Lang("_GeneralKnowledge")</h3>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 d-flex justify-content-center">
                            <img src="@string.Concat(settings.Value.BaseUrl, "images/Ontology/conocimiento-general-6.jpg")" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>