@model List<OntologyDTO>

@{
    ViewData["Title"] = Lang("_Tourism");
    Layout = "~/Views/Shared/_Layout.cshtml";

    var destinationImage = "destination";
    var destinationName = string.Empty;
    if (Context.Request.Query.ContainsKey("destination"))
    {
        destinationName = (Context.Request.Query["destination"]).ToString();
        destinationImage = destinationName.ToLower();
    }

    var controller = this.ViewContext.RouteData.Values["controller"].ToString();
    var individualTitle = Lang(string.Concat("_", controller, "_1")) ?? Lang("_Individual");

    var toHeader = new TopHeaderDTO()
            {
                AdditionalText = Lang("_Discover"),
                ShowSearch = true,
                Image = $"images/Home/Top/{destinationImage}.jpg",
                BreadCrumb = new List<BreadCrumbDTO>()
        {
            new BreadCrumbDTO()
            {
                Action = Url.Action("Index", "Home"),
                Text = Lang("_Home"),
                Order = 1
            },
            new BreadCrumbDTO()
            {
                Action = Url.Action("Index", "Destinations"),
                Text = Lang("_Destinations"),
                Order = 2
            },
            new BreadCrumbDTO()
            {
                Action = string.Empty,
                Text = @Lang(string.Concat("_", destinationName)),
                Order = 3
            }
        }
            };
    var ontology = Html.Raw(Json.Serialize(Model));
}

@await Html.PartialAsync("~/Views/Shared/Partials/_TopHeader.cshtml", toHeader)

@if (Model != null)
{
    <div class="section">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-12">
                    <h2 class="heading text-primary" property="v:destination">@Lang(string.Concat("_", destinationName))</h2>
                    <div v-for="sub in getOntologyItem">
                        <div class="d-block agent-box mt-3" v-for="ind in sub.individuals">
                            @if (controller != "Accommodation")
                            {
                                <div class="text">
                                    <h3>@individualTitle: <span style="font-size:0.8rem; color:#000; ">{{replaceOntology(ind.individualName)}}</span></h3>
                                </div>
                            }

                            <div v-show="ind.properties !=null">
                                <div v-if="ind.properties.filter(row => row.axioms !== null &&  row.axioms.length >0).length >0">
                                    <div class="d-block agent-box p-2 mt-2">
                                        <div v-for="prop in ind.properties.filter(row => row.axioms !== null)">
                                            <div v-for="atr in prop.axioms">
                                                <div class="text">
                                                    <h3>
                                                        @Lang("_Axiom"): <span style='font-size:0.8rem; color:#000;'><span class='text-muted small' property='v:axiom'>{{replaceOntology(atr.domain)}} - {{replaceOntology(atr.property)}} - {{replaceOntology(atr.range)}} [{{replaceOntology(atr.propertyType)}}]</span></span>
                                                    </h3>
                                                </div>

                                                <div v-show="atr.values != null && atr.values != undefined">
                                                    <div class="text mt-2">
                                                        <h3>@Lang("_IndividualsRelated"):</h3>
                                                    </div>
                                                    <span v-show="atr.values.length > 1" class="fw-bold" style="margin-left:1rem;" :property="'v: '+ replaceOntology(atr.property)">{{resources(replaceOntology(atr.property))}}:</span>

                                                    <ul class="dark-hover d-flex" style="display:block !important;">
                                                        <li v-for="val in atr.values">
                                                            <a :href="'@settings.Value.BaseUrl' + 'Accommodation/Detail?accommodation=' + replaceBaseOntology(val.value) + '&type=' + replaceBaseOntology(atr.range) + '&destination=@destinationName'" class="text-decoration-underline" style="font-size:1rem" property="v:url">{{replaceOntology(val.value)}}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 <div v-else>
                                    <div class="text"><h3>@Lang("_InferredAttributes")</h3></div>
                                    <ul class="dark-hover d-flex" style="display:block !important;">
                                        <li v-for="prop in ind.properties">
                                            <span class="fw-bold" property="'v:'+prop.parent">{{resources(replaceBaseOntology(prop.parent))}}: </span> {{replaceBaseOntology(prop.class)}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{
    <script>
        (function () {
            createVueInstance('@ontology');
        })();
    </script>
}