@model EErrorCodeClientApi;

@{
    ViewData["Title"] = ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero page-inner overlay" style="background-image: url('@string.Concat(settings.Value.BaseUrl, "images/Home/Top/error.jpg")')">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center mt-5">
                <h1 class="heading" data-aos="fade-up">
                    @Lang("_ErrorPage")
                </h1>

                <nav aria-label="breadcrumb" data-aos="fade-up" data-aos-delay="200">
                    <ol class="breadcrumb text-center justify-content-center">
                        <li class="breadcrumb-item"><a href="index.html">@Lang("_Home")</a></li>
                        <li class="breadcrumb-item" style="color:#fff;">Error</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-12">
                <h1>@Lang("_ErrorPage")</h1>
                @Lang("_Global_ServerError")
                <div class="text-center">
                    @Lang("_Global_ServerError_ReferenceCode"): @(((int)Model).ToString("D8"))
                </div>
            </div>
        </div>
    </div>
</div>