@{
    var language = (string)ViewBag.CultureTwoLetterName;
    var languageName = language == "ES" ? Lang("_English") : Lang("_Spanish");
    var newLanguage = language == "ES" ? "EN" : "ES";

    //Move to show from service
    var destinationItems = new List<string>()
{
"Beach",
"CulturalAreas",
"NaturalAreas",
"TownAndCities",
"WinterSportAreas"
};
}

<nav class="site-nav">
    <div class="container">
        <div class="menu-bg-wrap">
            <div class="site-navigation">
                <a asp-controller="Home" asp-action="Index" class="logo m-0 float-start">@Lang("_Tourism")</a>
                <ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end">
                    <li class="active"><a asp-controller="Home" asp-action="Index">@Lang("_Home")</a></li>
                    <li class="has-children">
                        <a asp-controller="Destinations" asp-action="Index">@Lang("_Destinations")</a>
                        <ul class="dropdown">
                            @foreach (var item in destinationItems)
                            {
                                <li><a asp-controller="Destinations" asp-action="Detail" asp-route-destination="@item"
                                    class="loading">@Lang(string.Concat("_", item))</a></li>
                            }
                        </ul>
                    </li>
                    <li><a asp-controller="Home" asp-action="Ontology">@Lang("_Ontology")</a></li>
                   <li><a target="_blank" href="@string.Concat(settings.Value.BaseUrl, settings.Value.DocumentationFile.Url, "?v=", settings.Value.DocumentationFile.Version)">@Lang("_Paper")</a></li>
                    <li class="language-container">
                        <a class="change-lang" href="#" value="@newLanguage">@languageName</a>
                    </li>
                </ul>
                <a href="#"
                    class="burger light me-auto float-end mt-1 site-menu-toggle js-menu-toggle d-inline-block d-lg-none"
                    data-toggle="collapse" data-target="#main-navbar">
                    <span></span>
                </a>
            </div>
        </div>
    </div>
</nav>

@Html.Script(@
<script type="text/javascript">
    $('.language-container .change-lang').on('click', function (e) {
        var lang = $(this).attr('value');
        if (lang !== '') {
            e.preventDefault();
            TourismApp.Ajax.Post('@Url.Action("ChangeLanguage", "Home")', { returnUrl: "@Context.Request.GetEncodedUrl()", newLang: lang },
                function (datos) {
                    window.location.href = datos.targetUrl.url;
                },
                function (datos) { }
            )
        }
    });
</script>)