@model TopHeaderDTO

<div class="hero page-inner overlay" style="background-image: url('@string.Concat(settings.Value.BaseUrl, Model.Image)')">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center mt-5">
                <h1 class="heading" data-aos="fade-up">
                    @Model.AdditionalText
                </h1>
                <nav aria-label="breadcrumb" data-aos="fade-up" data-aos-delay="200">
                    <ol class="breadcrumb text-center justify-content-center">
                        @foreach (var item in Model.BreadCrumb.OrderBy(row => row.Order).ToList())
                        {
                            if (!string.IsNullOrWhiteSpace(item.Action))
                            {
                                <li class="breadcrumb-item"><a href="@item.Action">@item.Text</a></li>
                            }
                            else
                            {
                                <li class="breadcrumb-item active text-white-50" aria-current="page">@item.Text</li>
                            }
                        }
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>