@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Elvin Reyes" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="~/favicon.ico" />

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap5" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet"/>

    <link rel="stylesheet" href="~/fonts/icomoon/style.css" />
    <link rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css" />
    <link rel="stylesheet" href="~/css/lib/tiny-slider.css" />
    <link rel="stylesheet" href="~/css/lib/aos.css" />

    <title>@ViewBag.Title</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/lib/bootstrap.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
    </environment>

    <environment exclude="Development">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css" 
            asp-fallback-href="~/css/lib/bootstrap.min.css"
            integrity="sha512-XWTTruHZEYJsxV3W/lSXG1n3Q39YIWOstqvmFsdNEEQfHoZ6vm6E9GK2OrF6DSJSpIbRbi+Nn0WDPID9O7xB2Q==" 
            crossorigin="anonymous" 
            referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="~/css/style.min.css" asp-append-version="true">
    </environment>
</head>

<body xmlns:v="https://rdf.data-vocabulary.org/#">
     <div class="site-mobile-menu site-navbar-target">
       <div class="site-mobile-menu-header">
         <div class="site-mobile-menu-close">
           <span class="icofont-close js-menu-toggle"></span>
         </div>
       </div>
       <div class="site-mobile-menu-body"></div>
     </div>

    @await Html.PartialAsync("~/Views/Shared/Partials/_Nav.cshtml")

    <div id="app">
        @RenderBody()
    </div>

    @await Html.PartialAsync("~/Views/Shared/Partials/_Footer.cshtml")

    <div id="overlayer"></div>
    <div class="loader">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    <form id="__AjaxForm">@Html.AntiForgeryToken()</form>
    <environment include="Development">
        <script src="~/js/lib/jquery.min.js" asp-append-version="true"></script>
        <script src="~/js/lib/bootstrap.bundle.min.js" asp-append-version="true"></script>
        <script src="~/js/lib/tiny-slider.js" asp-append-version="true"></script>
        <script src="~/js/lib/aos.js" asp-append-version="true"></script>
        <script src="~/js/lib/sweetalert2.all.min.js" asp-append-version="true"></script>
        <script src="~/js/lib/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/js/lib/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
        <script src="~/js/lib/vue.global.min.js"></script>
        <script src="~/js/lib/vuejs-paginate-next.umd.js"></script>
        <script src="~/js/lib/jquery.typeahead.min.js"></script>
        <script src="~/js/bundle.public.js" asp-append-version="true"></script>
    </environment>

    <environment exclude="Development">
         <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                 asp-fallback-src="~/js/lib/jquery.min.js"
                 asp-fallback-test="window.jQuery"
                 crossorigin="anonymous"
                 integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
         </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/js/bootstrap.bundle.min.js" 
                asp-fallback-src="~/js/lib/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                integrity="sha512-9GacT4119eY3AcosfWtHMsT5JyZudrexyEVzTBWV3viP/YfB9e2pEy3N7WXL3SV6ASXpTU0vzzSxsbfsuUH4sQ==" 
                crossorigin="anonymous" 
                referrerpolicy="no-referrer"></script>

         <script src="~/js/lib/tiny-slider.js" asp-append-version="true"></script>
         <script src="~/js/lib/aos.js" asp-append-version="true"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.all.min.js"
                asp-fallback-src="~/js/lib/sweetalert2.all.min.js"
                asp-fallback-test="window.swal"
                integrity="sha256-2RS1U6UNZdLS0Bc9z2vsvV4yLIbJNKxyA4mrx5uossk="
                crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"
                asp-fallback-src="~/js/lib/jquery.validate.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.valid"
                integrity="sha256-F6h55Qw6sweK+t7SiOJX+2bpSAa3b/fnlrVCJvmEj1A="
                crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"
                asp-fallback-src="~/js/lib/jquery.validate.unobtrusive.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive"
                integrity="sha256-9GycpJnliUjJDVDqP0UEu/bsm9U+3dnQUH8+3W10vkY="
                crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.37/vue.global.min.js" 
                integrity="sha512-4ztiRs4Iu216VkGake07ojPy+Jp5LpaRV8WgGblQIZj/6O3st4NYucCsWKZ/RWyoBgJu941+PXBFnqgVAaDPgw==" 
                crossorigin="anonymous" 
                referrerpolicy="no-referrer">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-typeahead/2.11.0/jquery.typeahead.min.js" 
            integrity="sha512-Rc24PGD2NTEGNYG/EMB+jcFpAltU9svgPcG/73l1/5M6is6gu3Vo1uVqyaNWf/sXfKyI0l240iwX9wpm6HE/Tg==" 
            crossorigin="anonymous" 
            referrerpolicy="no-referrer"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-typeahead/2.11.0/jquery.typeahead.min.js" 
            integrity="sha512-Rc24PGD2NTEGNYG/EMB+jcFpAltU9svgPcG/73l1/5M6is6gu3Vo1uVqyaNWf/sXfKyI0l240iwX9wpm6HE/Tg==" 
            crossorigin="anonymous" 
            referrerpolicy="no-referrer"></script>
        <script src="~/js/bundle.public.min.js" asp-append-version="true"></script>
    </environment>
    @Html.RenderPartialViewScripts()
    @RenderSection("Scripts", required: false)
</body>
</html>
